/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/*
 * Breakpoints
 */

$breakpoint-small:  640px;
$breakpoint-large:  1200px;



/*
 * Breakpoints list
 */

$breakpoints-list: (
    'sd' '(max-width:' + $breakpoint-small + ')',
    'md' '(min-width:' + ($breakpoint-small + 1) + ') and (max-width:' + ($breakpoint-large - 1) + ')',
    'ld' '(min-width:' + $breakpoint-large + ')'
);



/*
 * Number of total columns
 */

$max-width:         1200px;



/*
 * Number of total columns
 */

$grid-columns:      12;



/*
 * Space between columns
 */

$gutter:            20px;





/*------------------------------------*\
    Grid basic styles
\*------------------------------------*/

/*
 * Grid scaffolding
 */

.row {
  @extend .clearfix;
  margin-left: -$gutter;
}

.col {
  float: left;
  padding-left: $gutter;



/*
 * Columns generator
 */

@each $breakpoint in $breakpoints-list {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);
  @media only screen and #{$declaration}{
    @if $name == sd {
      .col .col {
        margin-bottom: $gutter;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @for $i from 1 through $grid-columns {
      .col--#{$name}-#{$i} {
        width: percentage($i/$grid-columns);
      }
      .col--#{$name}-offset-#{$i} {
        margin-left: percentage($i/$grid-columns);
      }
    }
  }
}



/*
 * Utilities
 */

.clearfix {
  &:before,
  &:after{
    content: '';
    display: table;
    line-height: 0;
  }
  &:after{
    clear: both;
  }
}
